* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(1, 1, 43);
    width: 100%;
    height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contenedor .astronauta{
    width: 130px;
    animation: movimiento 12s ease infinite;
    transition-duration: 1s;
}


@keyframes movimiento {
    0% {
        /*transform: translateX(500px);*/
        transform: rotate(0deg);
    }
    100% {
        /*transform: translateX(500px);*/
        transform: rotate(360deg);
    }
}

.contenedor .cohete{
    width: 50px;
    position: absolute;
    left: 200px;
    bottom: 10px;
    animation: movimiento2 10s ease-in-out infinite;
}

@keyframes movimiento2 {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        transform: translateY(-460px);
        opacity: 0;
    }
}

.planeta1{
    right: 100px;
    bottom: 350px;
    width: 250px;
    position: absolute;
    animation: movimiento3 50s ease infinite;

}
.planeta2{
    left: 50px;
    bottom: 100px;
    position: absolute;
    width: 200px;
    animation: movimiento3 20s ease infinite;
}
.planeta3{
    left: 350px;
    top: 60px;
    position: absolute;
    width: 200px;
    animation: movimiento3 10s ease infinite;
}
.planeta4{
    right: 350px;
    bottom: 70px;
    position: absolute;
    width: 200px;
    animation: movimiento3 45s ease infinite;
}







@keyframes movimiento3 {
    0% {
        /*transform: translateX(500px);*/
        transform: rotate(0deg);
    }
    100% {
        /*transform: translateX(500px);*/
        transform: rotate(360deg);
    }
}
